* {
    margin-left: 10px;
}

.logo {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.anh-minh-hoa img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.body {
    width: 60%;
    height: 1000px;
}